* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.the-arbitration{
    background-color: #081242;
    text-align: center;
    height: 100%;
    padding: 100px 0 275px 0;
    box-sizing: border-box;
    font-family: 'Founders Grotesk';
}

#bench{
    font-size: 75px;
    color: #fff;
    font-family: 'Founders Grotesk';
}

#alternate{
    font-size: 50px;
    color: #fff;
}

#dispute{
    font-size: 50px;
    color: #2791D0;
}

.button{
    margin-top: 50px;
}

#file-your-claim{
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid white;
    font-size: 16px;
}

.arbitration{
    padding-left: 50px;
    bottom: -50px;
    font-size: 33px;
    color: black;
}

.arrow{
    padding-bottom: 50px;
}

.judgement-div{
    padding:20px 60px;
}

#judmentDiv{
    padding-bottom: 50px;
}

.judge-shadow{
    box-shadow: 0px 0px 15px rgba(230, 230, 230, 0.8);
}
.judge-heading{
    color: #091740;
    padding: 20px 0;
}

#judge-shadow{
    padding: 30px;
    width: 45%;
    margin: 0 20px;
    border-radius: 5px;
}

.case-nitiation{
    padding:20px  70px 50px 70px;
}


.how-it-works{
    background-color: #081242;
    text-align: left;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Founders Grotesk';
}

.workss{
    color: #ffffff;
}

.platformm{
    color: #ffffff !important;
    padding: 8px 0;
}

.jupitice-platformm{
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 5px;
}

.jupitice-div{
    padding:20px 50px;
}

#jupitice-shadow{
    padding: 30px 10px;
    width: 50%;
}

.jupitice-head{
    color: #000000;
    font-weight: bold;
}

.jupitice-head2{
    color: #308EC7;
    padding: 15px 10px;
}

.jupitice-head3{
    color: #000000;
    margin-top: 0;
}

.main{
    padding-right: -50px;
}

.div1{
    padding: 5px 2px;
    margin-top: 10px;
}

.div2{
    padding: 0 2px;
    margin-top: 10px;
}

.icons{
    background-color: #EBF0F3;
    padding: 5px;
    border-radius: 5px;
}

.slide-1{
    background-color: #A4B8EE;
    margin-left: 150px;
    padding: 5px;
    border-radius: 20%;
}

/* .arrow2{
    padding-left: 140px;
    bottom: -24px;
    font-size: 33px;
    color: black;
} */

.arbitration2{
    padding-left: 140px;
    bottom: -24px;
    font-size: 33px;
    color: black;
}


.eco-shadow{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#eco-shadow{
    padding: 0 0 20px 0;
    width: 29%;
    margin: 20px 20px;
    border-radius: 5px;
}


  .eco-heading{
    padding: 10px 0 ;
  }

  .eco-button{
    border: 1px solid #D3D3D3;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    opacity: .8;
  }

  .eco-div{
    text-align: left;
    margin-top: 20px;
  }

  .mainjudge{
    padding: 0 15px 0 15px;
  }

  .calculator{
    background-color: #081242;
    text-align: left;
    box-sizing: border-box;
    padding: 80px 150px;
    
  }

  .calu-heading{
    color: #ffffff;
    font-size: 32px;
  }

  .calu-heading2{
    margin-top: 10px;
    color: #ffffff;
    padding: 0 60px 0 0;
    line-height: 25px;
    font-weight: 500;
  }

  .calculator-left{
    margin: auto;
    padding-top: 60px;
  }

  .calculator-right{
    background-color: #ffffff;
    border-radius: 5px;
    width: 40% !important;
  }

  .calculate-button{
    text-decoration: none;
    width: 100%;
    padding: 5px 10px;
    color: #ffffff;
    background-color: #2791D0;
  }

  .pding{
    padding: 10px;
  }

  .main-1{
    padding: 30px 20px 20px 20px;
  }

  .neutrals-heading{
    font-size: 50px;
  }

  .calculatorr-button{
    margin-top: 10px;
    padding: 5px 10px 20px 10px;
  }

  #Amountt-Dispute{
    height: 30px;
  }

 .neutrals{
    text-align: center;
    padding: 100px 0 0 0;
  }


  .trust{
    background-color: #161616;
    text-align: left;
    box-sizing: border-box;
    padding: 40px 100px;
    
  }

  .trust-heading{
    color: #ffffff;
  }

  .trust-heading2{
    padding: 10px 10px 0 10px;
  }


.list-items{
  padding: 10px 10px 10px 25px;
  border-radius: 5px;
}


.white-color{
  color: #ffffff;
  margin-top: 20px;
  font-size: 12px;
}

.file-your-claim-2{
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 13px;
}


.query-main{
  margin: 50px 0;
}


.buttontick{
  margin-top: 25px;
}


.imgarrow-right{
  text-align: right;
  margin-top: 60px;
}

.below-scretch{
  margin: 20px;
  font-size: 25px;
  font-weight: 300;
}

.contact-us-now{
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  font-weight: 400;
}

.query-heading{
  padding: 50px 20px 0 20px;
  font-size: 35px;
}

.button-contack{
  padding-top: 80px;
  position: absolute;
}

.imgarr{
  width: 200px;
  height: 100px;
}

.query-overide{
  padding-left: 100px;
}


.bottom{
  background-color: #D3D3D3;
}

.bottom-main{
  margin-top: 100px;
  background-color: #081242;
  color: #ffffff;
  padding: 30px 0 30px 50px;
}

ul li a{
  text-decoration: none;
  color: #ffffff;
}

div ul li{
  padding: 5px 0;
}

.register{
  right: 180px;
  position: absolute;
}

.imgpad{
  padding: 5px 5px 5px 0;
  border-radius: 5px;
}

div div img{
  border-radius: 5px;
}

.button-fix{
  display: block !important;
  height: 30px !important;
}