body{
    background-color: #ffffff !important;
}

/* .navigation-wrap{
    background-color: white;
} */

.main-d{
    position: relative;
    padding-top: 100px;
    border-radius: 5px;
}


.left-box{
    background-color: #F3F9FF !important;
    font-style: Founders Grotesk;
}

.uuu{
    padding-top: 30px;
}


ul li{
    list-style: none;
    color: #424242;
    padding: 7px 0;
}

.hrr{
    color: #D6D6D6;
}

.rrr{
    padding: 0 30px !important;
}

.head-right{
    color: #424242;
}

div div p{
    font-size: 13px;
}

body.overflow .nav-item .nav-link {
    color: black !important;
}

div div div ol li a.active {
    color: #2791D0 !important;
}

.bottom-main{
    margin-top: 100px !important;
}

.policy{
    padding-left: 50px !important;
}